<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
    <title>The net ninja class</title>
</head>

<body>
    <div id="vue-app">
        <!-- dynamic classes -->
        <h2>Article</h2>
        <template v-for="(article, index) in issue"> 
            <h1>{{article.title}}</h1>
            <p v-html="article.content"></p>
        </template>

        <template v-for="article in issue"> 
            
        </template>
        
    </div>









    <script src="app.js"></script>
</body>

</html>